<!DOCTYPE html>
<title>User Profile</title>

<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body {
padding-top: 1em;
}	

</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<style>
body {
padding-top: 1em;
background-color:black;
color:white
}
.container{
    box-shadow:0px 10px 10px green
}
input{
    background-color:black;
    border:1px solid green;
    color:white;
    padding:5px;
}
input:focus{
    box-shadow:5px 2px 2px green;
}
.messages{
  margin-top:30px;
  color:white;
  font-style:courier;
  letter-spacing:3px;
}
a:hover{
  box-shadow:5px 2px 2px green;
}
</style>
<body>

<div class="container" style="border:2px solid green;margin-top:5%;padding:5%;text-align:center;">
<h1>Details of User </h1>

<form action="" method="post" style="margin-top:40px">
{{form.as_p}}
</form>

</div>


</body>